/* stylesheet.css for assignment 3 */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.jumbotron {
  text-align: center;
}

#brandHeader {
  padding-top: 6px;
}

#submitForm {
  width: 100%;
}
#zodiacWheel {
  padding-top: 20px;
}
#horoscopeDiv {
  text-align: center;
}
