/* stylesheet.css for assignment 3 */

/* body - .jumbotron styling is nudging things around, and changing some background colors */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #EEEEEE;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.jumbotron {
  text-align: center;
  background-color: #FFFFFF;
}

/* Styling the upper-left brand text */
#brandHeader {
  padding-top: 6px;
  font-style: italic;
}

/* Nudge the zodiac wheel picture down for aesthetics */
#zodiacWheel {
  padding-top: 20px;
}

/* Center results under the text boxes */
#horoscopeDiv {
  text-align: center;
}
